[Unit]
Description=Connections Museum (panel_gen) Service
Documentation=https://www.github.com/theautumn/panel_gen

[Service]
Type=simple
ExecStart=/home/sarah/panel_gen/http_server.py
Restart=always

[Install]
WantedBy=multi-user.target
