[Unit]
Description=Connections Museum (panel_gen) Service

[Service]
Type=simple
ExecStart=/home/sarah/panel_gen/http_server.py
Restart=always

[Install]
WantedBy=multi-user.target
