[Unit]
Description=Connections Museum (panel_gen) Service
Documentation=https://www.github.com/theautumn/panel_gen

[Service]
User=SOMEUSER
Type=simple
WorkingDirectory=/path/to/panel_gen/
ExecStart=/path/to/.local/share/virtualenvs/panel_gen-ORoWpvfo/bin/python /path/to/panel_gen/http_server.py
ExecStop=/bin/kill -2 $MAINPID
KillSignal=SIGINT
Restart=always

[Install]
WantedBy=multi-user.target
