{% extends 'layout.html' %}
{% block header %}Connections Museum{% endblock %}
{% block content %}
    	<form method="post" action="/api/app/start/panel?mode=demo&source=dark">
		<input class="button-eggshell" type="submit", name="command", value="Panel Start">
        </form>
        <form method="post" action="/api/app/stop/panel?source=dark">
        <input class="button-orange" type="submit", name="command", value="Panel Stop">
        </form>
	<div>
    	<form method="post" action="/api/app/start/5xb?mode=demo&source=dark">
		<input class="button-eggshell" type="submit", name="command", value="5XB Start">
        </form>
        <form method="post" action="/api/app/stop/5xb?source=dark">
        <input class="button-orange" type="submit", name="command", value="5XB Stop">
        </form>
	</div>
	<div><br>
		<form method="post" action="/api/app/stop/all?source=dark">
		<input class="button-red" type="submit", name="command", value="Force Stop">
        </form>
	</div>

{% endblock %}

