<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title> {% block title %}{% endblock %}</title>
  <meta name="author" content="Sarah Autumn">
  
  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- <meta name="viewport" content="width=device-width, initial-scale=.8">a-->
  <meta id="viewport" name='viewport'>

  <script>
    if (screen.width < 350) { 
        document.querySelector('meta[name="viewport"]')
            .setAttribute('content','width=device-width, initial-scale=.8');
    } else {
        document.querySelector('meta[name="viewport"]')
            .setAttribute('content','width=device-width, initial-scale=1');
    }
  </script>

  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="apple-touch-icon" href="../static/touch-icon-iphone.png">
  <link rel="apple-touch-icon" sizes="180x180" href="../static/touch-icon-iphone-retina.png">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="../static/css/normalize.css">
  <link rel="stylesheet" href="../static/css/skeleton.css">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row" align="center">
      <div class="eleven columns" style="margin-top: 30%">
	<h4>{% block header %}{% endblock %}</h4>

{% block content %}{% endblock %}

    </div>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
